@font-face {
	font-family: 'VT323-Regular';
	src: url(../font/VT323-Regular.ttf) format('truetype');
}

.terminal {
    background-color: #000;
    color: #fff;
    width: 1200px;
    height: 600px;
    text-align: left;
    overflow-y: scroll;
    padding: 6px;
    margin: 135px 150px;
	font-family: 'VT323-Regular';
}

.inputLine {
    background-color: #000;
    color: #fff;
    border: none;
    outline: none;
    width: 100%;
	font-family: 'VT323-Regular';
    font-size: 24px;
}

p {
    margin: 0;
}